{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link href= "{% static 'css/style.css' %}" rel="stylesheet">
    <link href= "{% static 'js/sript.js' %}" rel="stylesheet">
    <title>Profile Page</title>
  </head>
  <body>


    <!-- -------------------------------------PROFILE SECTION------------------------------------------ -->
    <p>{{ new_movie.synopsis }}</p>
    <p>Duration: {{ new_movie.hourTime }} hours {{ new_movie.minuteTime }} minutes</p>
    <p>Age rating: {{ new_movie.age_rating }}</p>
    <p>Cast: {{ new_movie.cast }}</p>
    <img src="{{ new_movie.image.url }}" alt="{{ new_movie.title }}">
    



    <!-- ----------------------------------------------END------------------------------------------- -->

  </body>
  {% endblock content %}