{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <title>Login</title>
    <link href= "{% static 'css/register.css' %}" rel="stylesheet"> <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="main-flexbox">
        <!-- -------------------------------------LEFT IMAGE FLEXBOX-------------------------------------------->
        <div class="left-image-flexbox"></div>

        <!-- -------------------------------------RIGHT FORM FLEXBOX-------------------------------------------->
        <div class="right-form">
          <div class="item1-flexbox">
            <!-- -------------------------------------RADIO IMAGE-------------------------------------------->
            <div class="radio-image"></div>

            <!-- -------------------------------------HEADING-------------------------------------------->
            <h1>Sign Up Today</h1>

          
            <div class="form-section">
              <form method="POST" action="#" autocomplete="off">
                  {% csrf_token %}
                <div class="input-fields">
                  <input type="text" id="username" placeholder=" " {{form.username}}
				  <div></div>
                  <label for="username">Username</label>
                </div>



                <div class="input-fields">
                  <input type="password" id="password" placeholder=" "  {{form.password}}
                  <label for="password">Password</label>
                </div>

     
                <div class="buttons">
                    <button type="submit" value="Login">Login</button>
                </div>
              </form>
            </div>
            <!-- -------------------------------------SOCIAL MEDIA SECTION---------------------------------------->
       
			<div class="login-link">
				Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
			</div>
          </div>
          <!-- ----------------------------------NTAINER / ITEM2 FLEXBOX------------------------------->
          <div class="footer-items-container item2-flexbox">
            <div class="footer-items-flex">
              <span>Legal</span>
              <span>Privacy and Policy</span>
              <span>About</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
