altgraph==0.17
asgiref==3.4.1
backports.entry-points-selectable==1.1.0
click==8.0.0
colorama==0.4.4
distlib==0.3.2
Django==3.0
django-appconf==1.0.4
django-crispy-forms==1.12.0
django-image-cropping==1.5.0
filelock==3.0.12
Flask==2.0.0
Flask-MySQLdb==0.2.0
future==0.18.2
itsdangerous==2.0.0
Jinja2==3.0.0
MarkupSafe==2.0.0
mysql-connector-python==8.0.25
mysqlclient==2.0.3
numpy==1.21.0
olefile==0.46
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
passlib==1.7.4
pefile==2021.5.24
Pillow==8.3.1
platformdirs==2.2.0
protobuf==3.17.0
pycoin==0.90.20201031
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.2
python-magic-bin==0.4.14
pytz==2021.1
pywin32-ctypes==0.2.0
six==1.16.0
sqlparse==0.4.1
virtualenv==20.7.2
Werkzeug==2.0.0
whitenoise==5.3.0
