

.profile_pic{
    margin-top: 25px;
    margin-left: 25px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

h2{
    margin-left: 40px;
    margin-top: 25px;
}

p{
    margin-left: 40px;
}
