{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <title>Login</title>
    <link href= "{% static 'css/register.css' %}" rel="stylesheet"> <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="main-flexbox">
        <!-- -------------------------------------LEFT IMAGE FLEXBOX-------------------------------------------->
        <div class="left-image-flexbox"></div>

        <!-- -------------------------------------RIGHT FORM FLEXBOX-------------------------------------------->
        <div class="right-form">
          <div class="item1-flexbox">
            <!-- -------------------------------------RADIO IMAGE-------------------------------------------->
            <div class="radio-image"></div>

            <!-- -------------------------------------HEADING-------------------------------------------->
            <h1>Sign Up Today</h1>

            <!-- -------------------------------------FORM SECTION------------------------------------------->
            <div class="form-section">
              <form action="#" autocomplete="off">
                <div class="input-fields">
                  <input type="text" id="username" placeholder=" " />
                  <label for="username">Username </label>
                </div>

                <div class="input-fields">
                  <input type="email" id="email" placeholder=" " />
                  <label for="email">Email </label>
                </div>

                <div class="input-fields">
                  <input type="password" id="password" placeholder=" " />
                  <label for="password">Password</label>
                </div>

                <div class="input-fields">
                  <input
                    type="password"
                    id="confirm_passwaord"
                    placeholder=" "
                  />
                  <label for="confirm_passwaord">Confirm Password</label>
                </div>

                <!-- -------------------------------------BUTTONS-------------------------------------------->
                <div class="buttons">
                  <button>Login</button>
                  <button>Signup</button>
                </div>
              </form>
            </div>
            <!-- -------------------------------------SOCIAL MEDIA SECTION---------------------------------------->
            <div class="social-media-icons">
              <a href="#"><div class="facebook"></div></a>
              <a href="#"><div class="instagram"></div></a>
              <a href="#"><div class="twitter"></div></a>
            </div>
          </div>
          <!-- ----------------------------------NTAINER / ITEM2 FLEXBOX------------------------------->
          <div class="footer-items-container item2-flexbox">
            <div class="footer-items-flex">
              <span>Legal</span>
              <span>Privacy and Policy</span>
              <span>About</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
