{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Social Media</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="Instagram Clone">
    <meta name="keywords" content="Anthony, Humphreys, Instagram, Clone, Im Cool">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Anthony Humphreys</title>
    <link href="" type="image/png" rel="icon">




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href= "{% static 'css/main.css' %}" rel="stylesheet">
    <link href= "{% static 'css/profile.css' %}" rel="stylesheet">
    <link href= "{% static 'css/style.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>




</head>

<body>

    <div class="header-container" id="header-container">
      <div class="header-flexbox">
        <!-- -------------------------------HEADER LEFT FLEXBOX----------------------------------- -->
        <div class="header-left-flexbox">
            <span class="header-icon"><a class = "active" href="{% url 'profile' user %}"><i class="far fa-user"></i></span></a>
            <span class="header-icon"><a class = "active" href="{% url 'profile_uploads'  %}"><i class="far fa-plus-square"></i></span></a>

          <form onclick="openSearch()" class="header-icon desktop-hide " >
            <i class="far fa-search"></i></form>


          <form class="search-field" onsubmit="return executeQuery();">
              <input type="text" class="form-control" name="q" id="id_q_small" placeholder="Search...">
                <i class="search-icon far fa-search"></i>
          </form>

        </div>




        {% if request.user.is_authenticated %}
        <form action = "{% url 'register' %}" method = "post">
            {% csrf_token %}
            <div class="d-flex justify-content-center mt-3 login_container">
                <input class="btn login_btn" type="submit" value="Logout">
            </div>
        </form>
        {% else %}
        <form action = "{% url 'register' %}" method = "post">
            {% csrf_token %}
            <div class="d-flex justify-content-center mt-3 login_container">
                <input class="btn login_btn" type="submit" value="Register">
            </div>
        </form>
        {% endif %}
        <!-- -------------------------------Mobile Search Box----------------------------------- -->
        <div id="myOverlay" class="overlay">
          <span class="closebtn" onclick="closeSearch()" title="Close Overlay"
            >×</span
          >
          <div class="overlay-content">
            <form onsubmit="return executeQueryPhone();">
                {% csrf_token %}
              <input  type="text" class="form-control" name="q" id="id_q_small" placeholder="Search..." >
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>

        <!-- -------------------------------HEADER RIGHT FLEXBOX----------------------------------- -->
        <div class="header-right-image">
        <img src="{{ profile.profile_picture.url }}"  alt="profile-pic" class="header-right-image"/>
        </div>
      </div>
    </div>



        {% block content %}

        {% endblock %}


    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/cropper.min.js' %}"></script>





    {% block javascript %}
    <script type="text/javascript">
	function executeQuery() {
		var query = ""
		query = document.getElementById('id_q_small').value;
		if (query == ""){
			query = document.getElementById('id_q_large').value;
		}
	    window.location.replace("{% url 'search' %}?q=" + query)
	    return false
	}

    function executeQueryPhone() {
		var query = ""
		query = document.getElementById('id_q_small').value;
		if (query == ""){
			query = document.getElementById('id_q_large').value;
		}
	    window.location.replace("{% url 'search' %}?q=" + query)
	    return false
	}

    // program for search bar animation
    function openSearch() {
      document.getElementById('myOverlay').style.display = 'block';
    }

    function closeSearch() {
      document.getElementById('myOverlay').style.display = 'none';
    }


    </script>
    {% endblock %}


</body>
</html>
