{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link href= "{% static 'css/style.css' %}" rel="stylesheet">
    <link href= "{% static 'js/sript.js' %}" rel="stylesheet">
    <title>Profile Page</title>
  </head>
  <body>


    <!-- -------------------------------------PROFILE SECTION------------------------------------------ -->
    <div class="profile-section">
      <div class="grey-section">
          <img src="{{ profile.banner_picture.url }}"  alt="banner-pic"/>
      </div>
      <div class="profile-flexbox">
        <div class="profile-pic">
          <img src="{{ profile.profile_picture.url }}"  alt="profile-pic"/>
        </div>
        <p class="name">{{user}}</p>
        <p class="about">{{ profile.bio | default_if_none:""  }}</p>
        <a href="{% url 'profile_settings' user %}" class = "edit_profile_link"><button class="edit-profile-btn">Edit Profile</button></a>
      </div>
    </div>


    <!-- -----------------------------------------ALBUM SECTION---------------------------------------- -->
    <!-- Tab-Section -->
    <section class="ai-content">
      <div class="ai-content__main">
        <div class="ai-content__content">
          <div class="ai-tabs">
            <nav class="ai-tabs__tab-header">
              <ul>
                <li>
                  <a href="#one" class="ai-tabs__link ai-tabs--active"
                    ><i class="fas fa-image"></i
                  ></a>
                </li>
                <li>
                  <a href="#two" class="ai-tabs__link"
                    ><i class="fas fa-address-card"></i
                  ></a>
                </li>
                <li>
                  <a href="#three" class="ai-tabs__link"
                    ><i class="fas fa-folder"></i
                  ></a>
                </li>
              </ul>
              <div class="ai-tabs__line-container">
                <div class="ai-tabs__line"></div>
              </div>
            </nav>
            <div class="ai-tabs__content-container">
              <div class="ai-tabs__content" id="one">
                  <h2>Albums</h2>
                  {% for x in img %}
                  {% if forloop.first %}<div class="row ">{% endif %}
                  <div class="col-4 padding-0" >
                      <div class="text-center ">
                          <a href="{% url 'single_page' x.id %}" ><img src="{{x.file.url}}" href="{% url 'single_page' x.id %}"  class="myImg"></a>
                      </div>
                   </div>
                      {% if forloop.counter|divisibleby:3 %}
                  </div>
                  <div class=row>{% endif %}
                      {% if forloop.last %}
                  </div>{% endif %}
                  {% endfor %}
              </div>
              <div class="ai-tabs__content" id="two">
                Pinterest art party gluten-free, keytar banh mi vinyl synth
                aesthetic. Gentrify selvage photo booth ennui, viral fanny pack
                meggings whatever lo-fi lumbersexual offal beard.
              </div>
              <div class="ai-tabs__content" id="three">
                Tumblr ennui squid, literally typewriter sartorial celiac cloud
                bread hot chicken umami palo santo. Artisan meditation cray echo
                park intelligentsia pok pok health goth pop-up drinking vinegar
                pabst.
              </div>

              </div>
              <div class="ai-tabs__content" id="five">
                Tumblr ennui squid, literally typewriter sartorial celiac cloud
                bread hot chicken umami palo santo. Artisan meditation cray echo
                park intelligentsia pok pok health goth pop-up drinking vinegar
                pabst.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ----------------------------------------------END------------------------------------------- -->

  </body>
  <script>






  const $tabs = document.querySelectorAll('.ai-tabs__link'),
    $line = document.querySelector('.ai-tabs__line'),
    getPos = $currentTarget => {
      const $parentContainer = document.querySelector('.ai-tabs__tab-header ul');

      currentPos = {
        top: $currentTarget.offsetTop - $parentContainer.offsetTop,
        left: $currentTarget.offsetLeft - $parentContainer.offsetLeft,
      };
      return currentPos;
    },
    onLoadLine = () => {
      const $onLoadActive = document.querySelector('.ai-tabs--active'),
        divId = $onLoadActive.getAttribute('href');

      animateLine($onLoadActive, $line);
      document.querySelector(divId).classList.add('ai-tabs__content--active');
    },
    animateLine = ($currentTarget, $l) => {
      const currentPos = getPos($currentTarget);

      $l.style.left = `${currentPos.left - 7}px`;
      $l.style.width = `${40}px`;
      $l.style.margin = '0 auto';
    },
    setActive = (e, $tabs) => {
      e.preventDefault();
      const divId = e.currentTarget.getAttribute('href');

      $tabs.forEach($tab => {
        $tab.classList.remove('ai-tabs--active');
      });

      document.querySelectorAll('.ai-tabs__content').forEach($content => {
        $content.classList.remove('ai-tabs__content--active');
      });

      e.currentTarget.classList.add('ai-tabs--active');
      document.querySelector(divId).classList.add('ai-tabs__content--active');
    };

  $tabs.forEach($tab => {
    onLoadLine();
    $tab.addEventListener('click', e => {
      setActive(e, $tabs);
      animateLine(e.currentTarget, $line);
    });
  });

</script>
{% endblock %}
</html>
