{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link href= "{% static 'css/style.css' %}" rel="stylesheet">
    <link href= "{% static 'js/sript.js' %}" rel="stylesheet">
    <title>Profile Page</title>
  </head>
  <body>


    <!-- -------------------------------------PROFILE SECTION------------------------------------------ -->
    <div class="profile-section">
      <div class="grey-section">

          <img src="{{ profile.banner_picture.url }}"  alt="banner-pic"/>

      </div>
      <div class="profile-flexbox">
        <div class="profile-pic">

          <img src="{{ profile.profile_picture.url }}"  alt="profile-pic"/>

        </div>

        <p class="name">{{user}}</p>

        <p class="about">
          {{ profile.bio | default_if_none:""  }}
        </p>

        <a href="{% url 'profile_settings' user %}" class = "edit_profile_link"><button class="edit-profile-btn">Edit Profile</button></a>
      </div>
    </div>

    <!-- -------------------------------------------ICON SWITCHES---------------------------------------- -->
    <div class="icons-section">
      <div class="icon-container">
        <div class="icons-section-flexbox" id="icon_flex">
          <div class="icon_switch"><i class="fal fa-heart"></i></div>
          <div class="icon_switch"><i class="fal fa-history"></i></div>
          <div class="icon_switch"><i class="fal fa-indent"></i></div>
          <div class="icon_switch"><i class="fal fa-music"></i></div>
          <div class="icon_switch"><i class="fal fa-line-columns"></i></div>
        </div>
        <div class="line" id="line"></div>
      </div>
    </div>

    <!-- -----------------------------------------ALBUM SECTION---------------------------------------- -->
    <div class="album-section">
      <h2>Albums</h2>
      {% for x in img %}
      {% if forloop.first %}<div class="row ">{% endif %}
      <div class="col-4 col-4 col-4" >
          <div class="text-center mt-2">
              <a href="{% url 'single_page' x.id %}" ><img src="{{x.file.url}}" href="{% url 'single_page' x.id %}" height="100%" width="100%"  class="myImg"></a>
          </div>
       </div>
          {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class=row>{% endif %}
          {% if forloop.last %}
      </div>{% endif %}
      {% endfor %}
    </div>
    <!-- -----------------------------------------SINGLE SECTION---------------------------------------- -->
    <div class="single-section">
      <h2>Singles</h2>
    </div>

    <!-- ----------------------------------------------END------------------------------------------- -->

  </body>
  <script>const icon_switch = document.querySelectorAll('.icon_switch');
  const line = document.getElementById('line');
  const icon_flex = document.getElementById('icon_flex');

  icon_flex.addEventListener('click', onclickthree);
  function onclickthree() {
    for (const element of icon_switch) {
      element.addEventListener('click', onclick);

      function onclick(e) {
        if (e.target.offsetLeft != 0) {
          console.log(e.target.offsetLeft);
          console.log('osmaa');
          const dist = e.target.offsetLeft - 10;

          const dist2 = dist + 'px';
          line.style.left = dist2;
        }
      }
    }
  }

  // program for search bar animation
  function openSearch() {
    document.getElementById('myOverlay').style.display = 'block';
  }

  function closeSearch() {
    document.getElementById('myOverlay').style.display = 'none';
  }
</script>
{% endblock %}
</html>
