{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
    <link href= "{% static 'css/style.css' %}" rel="stylesheet">
    <link href= "{% static 'js/sript.js' %}" rel="stylesheet">
    <title>Profile Page</title>
  </head>


<body>

<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>

<main role="main" class="container" style="padding-top: 10px;">
	<div class="row">
		<div class="col-md-6" style="height: 50%; margin: auto;">
            <a href="{% url 'profile' user  %}" class = "edit_profile_link"><button class = "edit_profile_button" type="button" >Back To Profile</button></a>
			<form method="POST" enctype="multipart/form-data" id="post-form" style="margin-bottom: 20px; border: 2px solid grey; padding: 30px 20px;">
			  {% csrf_token %}
			  <fieldset class="form-group">
				<legend class="border-bottom mb-4">Post</legend>
				{{ form.as_p }}
			  </fieldset>
			  <div class="form-group">
			  	<div id="profile_picture-box" class="profile_picture-container"></div>
    			<button class="btn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
				<button class="btn btn-outline-info" id="confirm-btn" style="width: 100%; margin-top: 10px;" type="submit">Post</button>
			  </div>
		    </form>
		</div>
	</div>
</main>
<script>
	// profile_picture-box is the id of the div element that will store our cropping profile_picture preview
	const profile_picturebox = document.getElementById('profile_picture-box')
        // crop-btn is the id of button that will trigger the event of change original profile_picture with cropped profile_picture.
	const crop_btn = document.getElementById('crop-btn')
	// id_profile_picture is the id of the input tag where we will upload the profile_picture
	const input = document.getElementById('id_profile_picture')

	// When user uploads the profile_picture this event will get triggered
	input.addEventListener('change', ()=>{
	  // Getting profile_picture profile_picture object from the input variable
	  const img_data = input.files[0]
	  // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
	  // The new object URL represents the specified profile_picture object or Blob object.
	  const url = URL.createObjectURL(img_data)

	  // Creating a profile_picture tag inside profile_picturebox which will hold the cropping view profile_picture(uploaded profile_picture) to it using the url created before.
	  profile_picturebox.innerHTML = `<img src="${url}" id="profile_picture" style="width:100%;">`

	  // Storing that cropping view profile_picture in a variable
	  const profile_picture = document.getElementById('profile_picture')

	  // Displaying the profile_picture box
	  document.getElementById('profile_picture-box').style.display = 'block'
	  // Displaying the Crop buttton
	  document.getElementById('crop-btn').style.display = 'block'
	  // Hiding the Post button
	  document.getElementById('confirm-btn').style.display = 'none'

	  // Creating a croper object with the cropping view profile_picture
	  // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
	  // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
	  const cropper = new Cropper(profile_picture, {
	  autoCropArea: 1,
      aspectRatio: 1/1,
	  viewMode: 1,
	  scalable: false,
	  zoomable: false,
	  movable: false,
	  minCropBoxWidth: 200,
	  minCropBoxHeight: 200,
	  })

	  // When crop button is clicked this event will get triggered
	  crop_btn.addEventListener('click', ()=>{
	    // This method coverts the selected cropped profile_picture on the cropper canvas into a blob object
	    cropper.getCroppedCanvas().toBlob((blob)=>{

	      // Gets the original profile_picture data
	      let fileInputElement = document.getElementById('id_profile_picture');
	      // Make a new cropped profile_picture profile_picture using that blob object, profile_picture_data.name will make the new profile_picture name same as original profile_picture
	      let file = new File([blob], img_data.name,{type:"profile_picture/*", lastModified:new Date().getTime()});
	      // Create a new container
	      let container = new DataTransfer();
	      // Add the cropped profile_picture profile_picture to the container
	      container.items.add(file);
	      // Replace the original profile_picture profile_picture with the new cropped profile_picture profile_picture
	      fileInputElement.files = container.files;

	      // Hide the cropper box
	      document.getElementById('profile_picture-box').style.display = 'none'
	      // Hide the crop button
	      document.getElementById('crop-btn').style.display = 'none'
	      // Display the Post button
	      document.getElementById('confirm-btn').style.display = 'block'

	      });
	    });
	});
</script>





</body>
{% endblock %}
