{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<body>





    <img src="{{img.file.url}}" height="30%" width="30%"  class="myImg">


    <p>{{img.title}}</p>
    <p>{{img.artiste}}</p>



    <form method="POST" action="{% url 'delete_photo' img.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
    </form>

</body>
<script>
    var myAudio = document.getElementById("myAudio");
    var isPlaying = false;

    function togglePlay() {
      isPlaying ? myAudio.pause() : myAudio.play();
    };

    myAudio.onplaying = function() {
      isPlaying = true;
    };
    myAudio.onpause = function() {
      isPlaying = false;
    };
</script>
{% endblock %}
